<html>
    <head>
         <title>
            <%= title %>
         </title>

         <link rel="stylesheet" href="/css/layouts.css">
         <link rel="stylesheet" href="/css/header.css">
         <link rel="stylesheet" href="/css/footer.css">
         <%- style %>
    </head>

    <body>
        
        <%- include('_header.ejs'); %>
        
        <div id="div-body">
            <%- body %>
        </div>

        

        <%- include('_footer'); %>

        <%- script %>
    </body>
</html>